<%= form_for @project, :class=>"form-horizontal" do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <%= f.label :name, :class=>"col-md-4 control-label" %> 
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
  <%= f.text_field :name,  :class=>"form-control",:placeholder=>"Project Name"%>
</div>
</div>
</div>
<br><br>
<div class="form-group">
  <%= f.label :description, :class=>"col-md-4 control-label" %> 
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
  <%= f.text_field :description,  :class=>"form-control",:placeholder=>"Project Description"%>
</div>
</div>
</div>
<br><br>
<div class="form-group">
  <%= f.label :document, :class=>"col-md-4 control-label" %> 
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-paperclip"></i></span>
  <%= f.file_field :document,  :class=>"form-control" %>
</div>
</div>
</div>
<br><br>
<div class="form-group">
  <%= f.label :category, :class=>"col-md-4 control-label" %> 
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-option-vertical"></i></span>
 <%= f.select(:category_id, Category.all.collect {|u| [u.name, u.id]}, :class=>"form-control",:prompt => 'Select Category') %>
</div>
</div>
</div>
<br><br>
<div class="form-group">
  <%= f.label :status, :class=>"col-md-4 control-label" %> 
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-option-vertical"></i></span>
 <%= f.select "status",  options_for_select([ "Available", "Pending", "Completed" ]), :prompt => 'Select Status',  :class=>"form-control" %>
 </div>
</div>
</div>
<br><br>
<div class="form-group">
  <%= f.label :active, :class=>"col-md-4 control-label" %> 
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <%= f.label :active, "Yes", :value => "true" %>
    <%= f.radio_button :active, true , :checked => true%>
    <%= f.label :active, "No", :value => "false"  %>
    <%= f.radio_button :active, false, :checked => true %>
 </div>
</div>
</div>
<br><br>
<div class="form-group">
 <label class="col-md-4 control-label"></label>
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <%= f.submit  :class=>"btn btn-success"%>
 </div>
</div>
</div>
<% end %>