<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p><%= f.label :name %> 
<%= f.text_field :name %>
</p>

<p><%= f.label :description %> 
<%= f.text_field :description %>
</p>

<p><%= f.label :document %> 
<%= f.file_field :document %>
</p> 

<p>
<%= f.label :category %>   
<br>
<%= f.select(:category_id, Category.all.collect {|u| [u.name, u.id]}, :prompt => 'Select Category') %> 
</p>
<p>
<%= f.label :status %>   
<br>
<%= f.select "status",  options_for_select([ "Available", "Pending", "Completed" ]), :prompt => 'Select Status'%>
</p>
<p>
<div class="field">
    <%= f.label :active%><br />
    <%= f.label :active, "Yes", :value => "true"  %>
    <%= f.radio_button :active, true , :checked => true%>
    <%= f.label :active, "No", :value => "false" %>
    <%= f.radio_button :active, false, :checked => true %>
  </div>
</p>
<br>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>