<% if params[:search].present? || params[:category].present? %>
   <%= @projects.count %> Results found.
   <% else %>
   
  <% end %>

<h1>Listing Projects</h1>
<br>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
     <th>Document</th>
     <th>Status</th>
     <th>Member</th>
    <th colspan="6"></th>
  </tr>
 
  <% @projects.each do |project| %>
  
    <tr>
      <td><%= project.name %></td>
      <td><%= project.description%></td>
      <td>  
      <%if project.category_id.present? %> 
      <%= Category.find(project.category_id).name %>
      <% end %>
      </td>  
      <td>
        <% if project.document.present? %>
        <%= project.document.file.original_filename %>
        <% end %>
      </td>
      <td>  
       <%= project.status%>
      </td>
      <td>
       <%= project.members.collect(&:user).compact.flatten.collect(&:email) %>
      </td>
      <td><%= link_to 'Show', project_path(project), :class=>"btn btn-info" %></td>
      <td><%= link_to 'Edit', edit_project_path(project), :class=>"btn btn-warning"%></td>
      <td><%= link_to 'Destroy', project_path(project),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></td>
    </tr>
  <% end %>
</table>