<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>
<p>
<strong>Document:</strong>
<% if @project.document.present? %>
 <%= @project.document.file.original_filename %>
 <% end %>
</p>
<p>
<%=link_to 'Add Member', new_project_member_path(@project) %>
    
</p>

<h2>Comments</h2>
<div class="comments-container">
<%= render @project.comments %>
</div>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>