<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <%= f.label :name, :class=>"col-md-4 control-label" %> 
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
  <%= f.text_field :name,  :class=>"form-control", :placeholder=>"Category Name" %>
</div>
</div>
</div>
<br><br>
<div class="form-group">
  <%= f.label :description, :class=>"col-md-4 control-label" %> 
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
  <%= f.text_field :description,  :class=>"form-control", :placeholder=>"Write description" %>
</div>
</div>
</div>
<br><br>
<div class="form-group">
 <label class="col-md-4 control-label"></label>
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <%= f.submit  :class=>"btn btn-success"%>
 </div>
</div>
</div>
<% end %>
